body{
    background-color: gray;
    background-image: url("../images/scrubs.png");
    background-repeat: no-repeat;
    background-size: cover;
    



}
.container{
    margin: 25px auto auto 30%;

}

img{
    width: 250px;
    height: 250px;
}